html {
    scroll-behavior: smooth;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}

body {
    margin: 0;
    padding: 0;    
    color: var(--text-color);
    font-family: Stigfier;
    animation: fade 5sec;
}

:root {
    color-scheme: light dark;
  }

main {
    width: 100%;
    margin: 0px auto;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.top-bg{
    background-image: linear-gradient(#1414144f 70%, var(--module-bg));
    padding-bottom: 25rem;
}

.blur-bg{
    /* backdrop-filter: blur(2px); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--module-bg);
}

.blank-animation-space {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-image: linear-gradient(var(--module-bg) 0%, #14141430 30%, #14141430 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

body {
--text-color: white;
--bkg-color: transparent;
--btn-color: #d9dbdd;
--btn-text-color: black;
--invert: invert();
--invert-hover: invert(0.6);
--btn-hover: #b1b1b1;
--text-hover: white;
--nav-hover: #b1b1b1;
--go-top-src: url("../public/go-top-light.svg");
--theme-switch-icon-src: url(../public/sun-small.png);
--sidebar-theme-switch: url(../public/moon-small.png);
--sidebar-bg: #0c0c0cef;
--sidebar-toggle: #2d2d2d;
--module-bg: #141414ca;
--active-category:
--inactive-category:
}


/* Fonts */

h1 {
    font-size: 1.4em;
    text-shadow: #0c0c0c 1px 1px 7px;
}

h2 {
    font-size: 2em;
    text-shadow: #0c0c0c 1px 1px 2px;
}

h4 {
    font-size: 1.25em;
    margin: 1rem 0;
    text-shadow: #0c0c0c 1px 1px 2px;
}

p {
    line-height: 1.5;
    font-size: 0.8em;
    text-shadow: #0c0c0c 1px 1px 2px;
}

/* ~~~~~~ GENERAL ~~~~~~  */

.App {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: 2.25em;
    letter-spacing: 3px;
    width: min-content;
    text-transform: uppercase;
    padding: 0;
    text-shadow: #0c0c0c 1px 2px 7px;
}

.section-container {
    max-width: 1180px;
    margin: 0.5rem auto 15rem auto;
}

.Headers-Right {
    justify-content: flex-end;
}

.Headers-Center {
    justify-content: center;
}

.swirls {
    /* width: 2rem;
    height: 2rem; */
    margin: 0 1.5rem;
    opacity: 0.8;
    filter: var(--invert);
}

.section-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.section-line h3 {
    padding-left: 3px;
}

button {
    letter-spacing: 1.5px;
}

a {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-decoration: none;
}

/* ~~~~~~ NAVBAR ~~~~~~ */

.Navs {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.Navbar {
    height: 3rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0.5%;
}

.Navbar-heading {
    display: flex;
    padding-right: 1rem;
}

.navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-top: 4px;
}

.navbar-list a {
    margin: 0;
    padding-bottom: 0rem;
    list-style: none;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-color);
    width:min-content;
    text-shadow: #0c0c0c 1px 1px 2px;
}

.navbar-list a:link {
    text-decoration: none;
    margin-left: 2rem;
}

.navbar-list a:active,
.navbar-list a::after,
.navbar-list a:focus,
.navbar-list a:target {
    color: var(--nav-hover);
}

.navbar-list a:hover {
    color: var(--nav-hover);
}

.navbar-list a:active {
    color: var(--nav-hover)
}

.Navbar h1 {
    font-size: 1.25em;
    margin-left: 2rem;
}

.Navbar-heading img {
    margin-left: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.sidebar-heading img {
    margin: 1rem;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.Navbar-heading img:hover {
    opacity: 0.5;
}

.sidebar-heading img:hover {
    opacity: 0.5;
}

#theme-switch-icon,
#sidebar-switch-icon {
    content: var(--theme-switch-icon-src);
}

/* ~~~~~~ SIDEBAR ~~~~~~ */

.sidebar-container {
    display: none;
}

.sidebar {
    position: absolute;
    display: none;
    padding-top: 64.5px;
    top: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    transition: left 0.3s ease-in-out;
    background-color: var(--sidebar-bg);
    z-index: 1;
    opacity: 0.95;
  }
  .sidebar-toggle {
    position: absolute;
    display: none;
    top: 0;
    right: 0px;
    z-index: 2;
    border: none;
    background-color: transparent;
    color: var(--btn-color);
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.45rem 0.5rem 0.5rem;
    width: 64.5px;
    height: 64.5px;
    cursor: pointer;
  }
  .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    background-color: lightgray;
  }
  .sidebar.open {
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .content.open {
    left: 15vw;
  }

  .sidebar a {
    color: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 5rem;
    width: 100%;
    text-align: center;
  }

  .sidebar a:hover {
    background-color: var(--bkg-color);
    color: #565656;
  }

  .sidebar-toggle:hover {
    color: #565656;
  }

  .sidebar-heading {
    display: none;
  }
  
/* ~~~~~~ LANDING PAGE section ~~~~~~ */

.Landing-Page {
    height: 100vh;
    width: 100vw;
    margin-bottom: 9rem;    
}

.Landing-box {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Landing-Text {
    position: absolute;
    left: 4vw;
    top: 5rem;
}

.Landing-Text h1 {
    font-family: Stigfier;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 2px;
    padding: 0;
    margin: 0 auto 0rem auto;
    animation: left-to-right 1s ease-in-out forwards;
    opacity: 0;
    font-weight: 400;
}

.Landing-Text h2 {
    font-family: Stigfier;
    font-size: 1.5em;
    letter-spacing: 1.75px;
    padding: 0;
    margin: 0.5rem auto 0 auto;
    animation: left-to-right 1s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes left-to-right {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#land-bg {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit:cover;
    padding: 0;
    margin: 0;
    z-index: -1;    
}

.fade {
    animation: fade 1s;
}

@-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


@keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}


/* ~~~~~~ BIO section ~~~~~~ */

.bio-Container {
    height: 1000px;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--module-bg); */
    width: 90vw;
}

.bio {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.bio-items {
    margin-left: 0rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bio img {
    height: 352;
    width: 352;
    object-fit: cover; 
}

#bio-img {
    margin-right: 2rem;
}

.bio-heading-line {
    font-size: 1.4em;
    margin: 0 0 1rem 0;
    line-height: 1.25;
    width: 1000px;
}

.bio-items h2 {
    font-size: 2em;
    padding: 0;
    margin: 0;
}

.bio-items h3 {
    padding: 0;
    margin: 1rem 0rem 1rem;
}

.bio-items p {
    font-size: 1em;
    font-weight: 200;
    font-size: 1.25em;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    font-family: serenity,sans-serif;
    font-style: normal;
    opacity: 0.9;
}

.bio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2rem;
}

.bio-buttons p {
    margin-top: 0.5rem;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 0.2rem;
}

.bio-buttons a {
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.bio-buttons img {
    width: 38.4;
    height: 38.4;
    filter: var(--invert);
}

.bio-buttons img:hover {
    filter: var(--invert-hover);
}

.bio-buttons button {
    width: 5.5rem;
    height: 2.4rem;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-family: Stigfier;
}

.bio-buttons button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
    color: var(--text-hover);
}

.resume-div button {
    width: 8rem;
    height: 3rem;
    margin-bottom: 2.5rem;
    margin-right: 1rem;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: Stigfier;
    background-color: var(--btn-color);
}

.bio-text-link {
    border-bottom: white 1px solid;
    cursor: pointer;
}

.bio-text-link:hover {
    color: var(--btn-hover);
    border-bottom: var(--btn-hover) 1px solid;
}

/* .bio-category-buttons {
    display: flex;
    justify-content: end
}

.bio-category-buttons button {
    width: 8rem;
    height: 3rem;
    border: rgb(174, 174, 174) 1px solid;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    font-family: Stigfier;
    background: none;
}

.bio-category-buttons p {
    font-size: 1.5em;
    position: relative;
    left: 1rem;
    top: 0.3rem;
    text-shadow: none;
    font-weight: 100;
} */

/* ~~~~~~ SKILLS section ~~~~~~  */

.skills-container {
    /* height: 900px; */
    max-width: 1180px;
    width: 90%;
    /* background-color: var(--module-bg); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-container .section-line {
    margin-bottom: 0;
    padding-bottom: 0;
}

.currently-learning {
    text-align: center;
    margin: 0 auto 4rem auto;
    font-size: 1em;
    letter-spacing: 1.5px;
    opacity: 0.8;
    font-style: italic;
    position: relative;
    top: -10px;
}

#currently-icon {
    padding-right: 0.2rem;
}

.currently-learning span {
    text-transform: uppercase;
    padding-left: 0.35rem;
    font-style: normal;
}

.skill-icons {
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin: 4rem auto 8rem auto;
}

.skill-icons i:hover {
    opacity: 0.7;
}

.skill-icons p {
    font-size: 0.3em;
    font-family: serenity;
    font-weight: 300;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    flex-basis: 18%;
}

.after-effects p {
    font-size: 0.24em;
    margin-top: 11px;
}


/* ~~~~~~ PROJECTS section ~~~~~~  */
.all-projects-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem 0 1rem;
}

.project-single-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8rem;
}

.project-last-single-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0rem;
}

.project-image-container{
    /* max-width: 30rem; */
}

.project-image {
    max-width: 30rem;
    width: 30vw;
    height: 100%;
    cursor: pointer;
    object-fit: scale-down;
    border-radius: 5px;
}

/* .projects-coming-soon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
} */

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.5rem;
    width: 60vw;
    max-width: 50rem;
}

.project-details p {
    padding: 0.75rem 0rem;
    margin-top: 0;
    font-size: 1.3em;
    line-height: 1.5;
    font-family: serenity,sans-serif;
    font-weight: 200;
    font-style: normal;
}

.project-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
}

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 1rem;

    font-size: 1.5em;

    letter-spacing: 1.25px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 0.5px solid var(--btn-color);
    padding-bottom: 0.25rem;
}

.project-subtitle {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    font-family: serenity;
    font-weight: 300;
}

.project-title-coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 0.75rem;
    font-size: 1.5em;
    letter-spacing: 1.25px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 0.5px solid var(--btn-color);
    padding-bottom: 0.25rem; 
}

.coming-soon {
    letter-spacing: 3px;
    font-family: serenity;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0;
    opacity: 1;
    font-style: italic;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--btn-color), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: 95%;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.coming-soon-bg {
    position: relative;
    top: -18px;
    z-index: -1;
    letter-spacing: 3px;
    font-family: serenity;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0;
    opacity: 0.4;
    font-style: italic;
    overflow: hidden;
}

@keyframes animate {
0% {
  background-position: -1800%;
}
100% {
  background-position: 1800%;
}
}

.project-description span {
    font-weight: 300;
    border-bottom: 0.5px solid var(--btn-color);
}

.project-text h4:hover {
    cursor: pointer;
    color: var(--nav-hover)
}

.ReadMore {
    width: 5.4rem;
    height: 2.5rem;

    margin-left: 2rem;
    padding: 0.2rem 0.3rem;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 3px;

    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-size: 0.9em;

    font-family: Stigfier;
    font-size: 1em;
    font-weight: 900;
}

.ReadMore-grayed {
    width: 5.4rem;
    height: 2.5rem;
    margin-left: 2rem;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-family: Stigfier;
    font-size: 1em;
    opacity: 0.4;
}

.ReadMore:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
    color: var(--text-hover);
}


.project-buttons {
    display: flex;
    margin-top: 2rem;
}

.project-programs {
    margin: 0;
    font-size: 0.6em;
    text-transform: uppercase;
    font-family: 'HelveticaNowDisplay';
    width:min-content;
}

.project-programs span {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    color: white;
    background-color: rgba(111, 110, 110, 0.855);
}

.Projects-Container {
    display: flex;
    width: 1050px;
} 

/* ~~~~~~ CONTACT ~~~~~~  */

#contact {
    padding-bottom: 5rem;
}

.contact-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-items h2 {
    margin: 0.5rem auto;
    padding: 0;
}

.contact-items p {
    margin: 0 1rem;
    margin-bottom: 4rem;
    font-size: 1.3em;
    font-family: serenity,sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}

.contact-items button {
    width: 6.5rem;
    height: 2.5rem;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-family: Stigfier;
}

.contact-items button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
    color: var(--text-hover);
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons a,
.contact-icons button {
    margin: 0 1rem;
}

.contact-icons img {
    width: 38.4;
    height: 38.4;
    filter: var(--invert);
}

.contact-icons img:hover {
    filter: var(--invert-hover);
}

.contact-icons button {
    width: 6.5rem;
    height: 2.4rem;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-family: Stigfier;
}

.contact-icons button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
    color: var(--text-hover);
}

/* ~~~~~~ FOOTER ~~~~~~  */

.footer-text {
    margin: 5rem auto 2rem auto;
    bottom: 0;
}
/* 
.Footer h5 {
    margin: 0.8rem auto;
}

.Footer-Icons {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
} */

.Social-Icons {
    cursor: pointer;
    opacity: 0.9;
    margin: 0 0.3rem;
}

.Social-Icons:hover {
    filter: invert();
}

/* ~~~~~~~~~~~~ Animations ~~~~~~~~~~~~  */

.reveal-left {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s ease-in-out;  
}

.reveal-left.active{
    transform: translateX(0);
    opacity: 1;
}

.reveal-right {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s ease-in-out;  
}

.reveal-right.active{
    transform: translateX(0);
    opacity: 1;
  }

.fade-in{
    opacity: 0;
    transition: 1s ease-in-out;
}

.fade-in.active{
    opacity: 1;
}

/* ~~~~~~~~~~~~ Back to top button ~~~~~~~~~~~~  */

.goTopHidden {
    display: none;
}

.goTop__text  {
    display:block;
    position: fixed;
    bottom: 4%;
    right: 2%;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    content: var(--go-top-src);
    opacity: 0.9;
}

.goTop__text:hover {
    opacity: 1;
}


/* Design */

#design {
    /* padding-top: 10rem; */
}

.design-section{
    display: flex;
}

.design-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem 6rem 4rem;
}

.design-images{
    width: 350px;
    height: 350px;
}

.design-title{
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 2rem 0 0.75rem 0;
    padding: 0;
    letter-spacing: 1px;
    border-bottom: 0.5px solid var(--btn-color);
    text-shadow: #0c0c0c 1px 1px 2px;
}

.design-project p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.9em;
    font-family: serenity;
    font-weight: 300;
}

.design-link{
    width: 5.4rem;
    height: 2.5rem;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-family: Stigfier;
    font-size: 1em;
}

.design-link:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
    color: var(--text-hover);
}

/* ~~~~~~~~~~~~ THREE.JS ~~~~~~~~~~~~  */

#canvasBg {
    position: fixed;
    opacity: 80%;
    top: 0;
    left: 0;
}

/* ~~~~~~~~~~~~ Fonts ~~~~~~~~~~~~  */
  @font-face {
    font-family: Stigfier;
    src:
         url('/fonts/stigfier/Stigfier.woff') format('woff'),
         url('/fonts/stigfier/Stigfier.woff2') format('woff2'),
         url('/fonts/stigfier/Stigfier.ttf') format('truetype'),
         url('/fonts/stigfier/Stigfier.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ~~~~~~~~~~~~ Responsiveness ~~~~~~~~~~~~  */
@media screen and (max-width: 1000px) {
  .goTop__text  {
    right: 1.5rem;
    }
    .design-section{
        flex-direction: column;
    }
}

  @media screen and (max-width: 900px) {
    .bio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #bio-img {
        margin-bottom: 3rem;
        margin-right: 0;
        width: 288px;
        height: 288px;
    }
    .bio-items {
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .bio-items p {
        width: 90vw;
        font-size: 1.1em;
    }
    .bio-buttons p {
        font-size: 0.85em;
    }
    .bio-buttons {
        margin-top: 1rem;
        justify-content:center ;
    }
    .bio-buttons img {   
        margin: 0 1rem;
    }
    .bio-buttons button {
        margin: 0 1rem;
    }
    .bio-container {
        margin-bottom: 0rem;
        height: auto;
    }
    .skills-container {
        width: 95vw;
    }
    .skill {
        margin: 0.75rem;
    }
    .skill-icons {
        font-size: 2.5em;
    }
    .project-single-container {
        margin-bottom: 5rem;
    }
    .section-container {
        margin: 0.5rem auto 12rem auto;
    }
    .section-line {
        margin-bottom: 2rem;
    }
    .project-single-container, .project-last-single-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-image {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .project-details {
        width: 88%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bio-buttons a {
        max-width: 5rem;
    }
  }
  

  @media screen and (max-width: 780px) {  
    .project-text {
        margin: 0;
    }
    .project-details p {
        font-size: 1.1em;
    }
    .navbar-items {
        display: none;
    }
    .sidebar-container {
        display: inherit;
    }
    #theme-switch-icon {
        display: none;
    }
    #sidebar-theme-switch {
        display: inherit;
    }
    .sidebar-heading {
        display: flex;
    }
    .Navbar {
        height: 60px;
        display: none;
    }
    .left-of-nav {
        width: 100vw;
        height: 64.5px;
        opacity: 0.95
      }
    .bio-buttons a {
        margin: 0 1rem;
    }
  }

  @media screen and (max-width: 700px) {
    .Landing-Text h1 {
        margin-top: 2rem;
        font-size: 9vw;
    }
    .Landing-Text h2 {
        font-size: 3.5vw;
    }
    .bio-buttons p {
        font-size: 0.7rem;
    }
    .bio-buttons {
        margin-right: 0;
    }
    .bio-buttons a {
        margin: 0 0.4rem;
    }
    .bio-buttons img {
        width: 35px;
        height: 35px;
    }
  }

  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) {
        html, body {
            width: 100%;
            overflow-x: hidden;
        }
        body {
            position: relative;
        }
        .coming-soon-bg {
            position: relative;
            top: -23px;
        }
        .design-images{
            width: 300px;
            height: 300px;
        }
    }

